.main-background>div { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.chatting-window {
	background-color: #fff;
	border-color: #fff;
}

/*Here is a bunch of css for chatting windows*/
/*.chat-bot-left {
	margin-right: 40px;
	background: 
}*/

.chat-bot-left {
	position: relative;
	width: 40%;
	padding: 10px 20px;
	background: #d7e4ed;
	margin-bottom: 15px;
	margin-left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	/*color: #fff !important;*/
/*	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.chat-bot-left:after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;

	top: 15%;
	left: -13px;
	border-style: solid;
	border-width: 5px 15px 5px 0;
	border-color: transparent #d7e4ed;
	display: block;
	width: 0;
	z-index: 1;
}

.user-chat-right {
	position: relative;
	width: 40%;
	padding: 10px 20px;
	background: #eee;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: right;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	/*color: #fff !important;*/
/*	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.user-chat-right:after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;

	top: 45%;
	right: -13px;
	border-style: solid;
	border-width: 7px 0 7px 15px;
	border-color: transparent #eee;
	display: block;
	width: 0;
	z-index: 1;
}

/*Search window utility*/



/*Utility CSS*/

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.size-21 { font-size: 21px; }

.mode-green {
    background-color: #368a54 !important;  /* this is a green */
    border-color: #368a54 !important;
    color: #fff !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.mode-maroon {
    background: #f04124 !important;  /*this is a maroon */
    border-color: #cf280e !important;
    color: #fff !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pure-orange {
    background: rgb(223, 117, 20) !important; /* this is an orange */
}

.pure-light-blue {
    background: rgb(66, 184, 221) !important; /* this is a light blue */
}